{include file="header.html"}

<script type="text/javascript">
//<!CDATA[
$(function(){
    $(".show_image").mouseover(function(){
        $(this).next("div").show();
    });
    $(".show_image").mouseout(function(){
        $(this).next("div").hide();
    });
	$('#c_s_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('validate_right').text('OK!');
        },
        onkeyup : false,
        rules : {
            deposit_quota      : {
                number     : true
            }
        },
        messages : {
            deposit_quota     : {
                number  : '{$lang.number_only}'
            }
        }
    });
});
//]]>
</script>

<div class="main">
	<div class="fixed-bar">
		<div class="item-title">
			<h3><a href="index.php?act=welcome" style="text-decoration:none;">{$setting.site_name}</a> &nbsp;>&nbsp;{$lang.consumer_service}&nbsp;&nbsp;>&nbsp;&nbsp;{$lang.c_s_setting}</h3>
		</div>
	</div>
	<div class="fixed-empty"></div>
	<div class="info">
	  <form method="post" enctype="multipart/form-data" id="c_s_form" name="form1">
		<table class="infoTable">
		  <tr>
			<th class="paddingT15"> <label for="site_name">审核消费者保障{$lang.deposit_quota}:</label></th>
			<td class="paddingT15 wordSpacing5"><input id="site_name" type="text" name="bao_1" value="{$setting.deposit_xiao.bao_1}" class="infoTableInput"/>        </td>
		  </tr>
          
		  <tr>
			<th class="paddingT15"> <label for="xfzbz_image">{$lang.xfzbz_image}:</label></th>
			<td class="paddingT15 wordSpacing5"><input class="infoTableFile" id="xb_img_1" type="file" name="xb_img_1" />
			  <!--{if $setting.deposit_img.xb_img_1}-->
			  <img class="show_image" src="{res file=style/images/right.gif}" />
			  <div style="position:absolute; display:none"><img src="{$site_url}/{$setting.deposit_img.xb_img_1}?{$random_number}" /></div>
			  <!--{/if}-->
			  <label class="field_notice">{$lang.xfzbz_image_note}</label>
			  </td>
		  </tr>
          
          
    

		  <tr>
			<th></th>
			<td class="ptb20">
				<a href="JavaScript:void(0);" class="formbtn" onclick="document.form1.submit()"><span>{$lang.submit}</span></a>
				<a href="JavaScript:void(0);" class="formbtn" onclick="document.form1.reset()"><span>{$lang.reset}</span></a>
			</td>
		  </tr>
		</table>
	  </form>
	</div>
	{include file="footer.html"}
</div>